  <p-table [value]="trainList">
    <ng-template pTemplate="header">
        <tr>
            <th>Train ID</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-train>
        <tr>
            <td>{{train.trainid}}</td>
            <td>{{train.fromDest}}</td>
            <td>{{train.toDest}}</td>
            <td>{{train.date |  date:'dd/MM/yyyy'}}</td>
        </tr>
    </ng-template>
</p-table>

