.content {
    position: absolute;
    /* bottom: 138px; */
    top: 30%;
    /* background: rgba(0, 0, 0, 0.5); */
    color: black;
    width: 100%;
  }

  .home-title{
    font-weight: bolder;
    color: black;
    font-size: 39px;
    line-height: 1.2em;
    letter-spacing: 5px;
  }

  .train-img {
    opacity: 0.6;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    width:inherit;
  }

  .text-content{
    font-weight: bolder;
    color: black;
    font-family: "Lora", Sans-serif;
    font-size: 24px;
    line-height: 1.8em;
  }