<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <img [src]='"assets/image/train_img.jpg"' alt="train" height="650" class="train-img">
        <div align='center' class="content">
          <h1 class="home-title"> WELCOME TO THE RAILWAY TICKET BOOKING SYSTEM.</h1>  
          <p class="text-content">Please sign up to continue booking</p>
          <p-button class="p-1" label="Register" (click) ="showDialog()"></p-button>
          
        </div>
        
      </div>
    </div>
  </div>
  
  
  <p-dialog header="Register" [(visible)]="display" [modal]="true" [responsive]="true"
  [contentStyle]="{'overflow':'visible'}" [style]="{width: '70%', minWidth: '200px'}" [minY]="70" [maximizable]="true"
  [baseZIndex]="10000">
  <form novalidate [formGroup]="userForm" (ngSubmit)="saveUser()">
    <div>
        <div class="d-flex flex-row">
        <div class="p-1 lbl align-self-center">FirstName</div>
        <div class="p-1"><input type="text" pInputText placeholder="First Name" formControlName="fname" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"/>
          
           </div>
           <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
            <div *ngIf="f.fname.errors.required">FirstName is required</div>
          </div>
          </div>
      <div class="d-flex flex-row">
        <div class="p-1 lbl align-self-center">Last Name</div>
        <div class="p-1"><input type="text" pInputText placeholder="Last Name" formControlName="lname"  [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"/></div>
        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
          <div *ngIf="f.lname.errors.required">LastName is required</div>
        </div>
        
        <div class="p-1 lbl-mr align-self-center">Email ID</div>
        <div class="p-1"><input type="text" pInputText placeholder="Email ID" formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }"/>
        </div>
        <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
          <div *ngIf="f.emailId.errors.required">EmailId is invalid</div>
        </div>
      </div>

      
      <div class="d-flex flex-row">
        <div class="p-1 lbl align-self-center">Password</div>
        <div class="p-1">
          <input type="password" id="password" pInputText placeholder="Password" formControlName="password" size="45" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        </div>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>

    </div>
  </form>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveUser()" label="Submit" [disabled]="loading"></button>
    <button type="button" pButton icon="pi pi-close" (click)="onCancel()" label="Cancel"  class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>

<p-toast position="top-right"></p-toast>
  
  