<!-- <div class="container-fluid h-100" style="background-color:black">
    <div class="row align-items-center h-100" >
        <div class="col-4 mx-auto">
            
           <p class="footer pt-4">
             <b>Copyright © 2019 OMR Taekwondo Academy | AUK</b>
           </p> 
           
        </div>
    </div>
</div> -->
