<!-- <div class="d-flex flex-wrap">
    <div class="mr-auto ml-2 mb-4" *ngFor = 'let booking of bookings'>
        <p-card [style]="{width: '200px','border': '1px black solid'}" styleClass="ui-card-shadow">
          <p-header>
            <div class="d-flex">
              <div class="ml-2 p-1 mr-auto">Train Id : {{booking.trainid}}</div>
                          
            </div>
          </p-header>
          
          <p-footer>
            <div><b> Pnr : {{booking.pnrnumber}}</b></div>
            <div><b> seats : {{booking.seats}}</b> </div>
            <div><b>UserId : {{booking.userid}} </b> </div>
            
          </p-footer>
        </p-card>
      </div>
  </div> -->
  <p-table [value]="bookings" dataKey="pnrnumber" editMode="row">
    <ng-template pTemplate="header">
        <tr>
            <th>PNR</th>
            <th>Train ID</th>
            <th>Seats</th>
            <th>User</th>
            <th style="width:8em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <td>
                {{rowData.pnrnumber}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.trainid" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.trainid}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.seats" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.seats}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.userid">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.userid}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" ></button>
            </td>
        </tr>
    </ng-template>
</p-table>
