
<p-tabView orientation="left">
    <p-tabPanel header="View Bookings" cache='true'>
        <app-booking></app-booking>
    </p-tabPanel>
    
    <p-tabPanel header="Trains" cache='true'>
        <app-view-trains></app-view-trains>
    </p-tabPanel>
   
  </p-tabView>