<div class="container">
    <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form [formGroup]="searchForm" >
    
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        From*:
                    </div>
                    <div class="ui-grid-col-8">
                        <p-dropdown [options]="cities" formControlName="fromcity" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
                    
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        To*:
                    </div>
                    <div class="ui-grid-col-8">
                        <p-dropdown [options]="cities" formControlName="tocity" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        DOJ*:
                    </div>
                    <div class="ui-grid-col-8">
                        <p-calendar id="jid" dateFormat="dd/mm/yy" formControlName="journey_date" [showIcon]="true" size="45"></p-calendar>
                    </div>
                </div>
                
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-6">
                        <button class="btn btn-primary" (click)="submit()">Submit</button>
                    </div>
                    <div class="ui-grid-col-4"></div>
                </div>
                
            </div>
        
    </form>
    </div>
</div>
    
</div>

<div class="container">

    <p-table [value]="searchResults">
        <ng-template pTemplate="header">
            <tr>
                <th>TrainID</th>
                <th>FROM</th>
                <th>TO</th>
                <th>DOJ</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>{{rowData.trainid}}</td>
                <td>{{rowData.fromdest}}</td>
                <td>{{rowData.todest}}</td>
                <td>{{rowData.date | date:'dd/MM/yyyy'}}</td>
                <td><button  class="btn btn-primary" (click)="book(rowData)">Book</button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Booking Details" [(visible)]="displayBooking" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="d-flex flex-row">
                    <div class="p-1 lbl align-self-center">Train ID</div>
                    <div class="p-1">
                      {{trainId}}
                       </div>
                       
                </div>
            
                <div class="d-flex flex-row">
                    <div class="p-1 lbl align-self-center">From:</div>
                    <div class="p-1">
                      {{fromStation}}
                       </div>
                       
                </div>
            
                <div class="d-flex flex-row">
                    <div class="p-1 lbl align-self-center">To:</div>
                    <div class="p-1">
                      {{toStation}}
                       </div>
                       
                </div>
            
                <div class="d-flex flex-row">
                    <div class="p-1 lbl align-self-center">DOJ:</div>
                    <div class="p-1">
                      {{dateofJourney | date:'dd/MM/yyyy'}}
                       </div>
                       
                </div>
            
                <div class="d-flex flex-row">
                    <div class="p-1 lbl align-self-center">Select Coach:</div>
                    <div class="p-1">
                        <p-dropdown [options]="coach" [(ngModel)]="selectedCoach" placeholder="Select a coach" optionLabel="name" [showClear]="true"></p-dropdown>
                       </div>
                       
                </div>
               
            <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="proceedBooking()" label="Book"></button>
                <button type="button" pButton icon="pi pi-times" (click)="displayBooking=false" label="Cancel" class="ui-button-secondary"></button>
            </p-footer>
            </div>
        </div>
    </div>

    
</p-dialog>
