<div class="container-fluid d-flex blck-color">
    <div class="d-flex blck-color header">
        
            <div class="d-flex">
                
                <div class="text-postion">
                    <button style="margin: 5px;" class="btn btn-primary" *ngIf="!this.authService.isAuthenticated()" (click) = 'login()'>Login</button>
                    <button style="margin: 5px;" class="btn btn-primary" *ngIf="this.authService.isAuthenticated()" (click) = 'logout()'>LogOut</button>
                </div>
            </div>
        
    </div>
</div> 
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

