
  
  .pi {
    font-size: 2em;
    color: white;
  }
  
  .action-text {
    color: white !important;
    text-decoration: none;
    cursor: pointer;
  }
  
  .icon-postion {
    padding-top: 0.3em;
  }
  
  .text-postion {
    padding-top: 0.6em;
  }
  
  .blck-color {
    background-color: black !important;
  }
  .header{
    margin-left: auto;
  }
  