.container {
    padding: 5%;
  }
  .login-box {
    width: 50%;
  }
  .form-container {
    border-color: #007bff;
    border: 2px solid #007bff;
    padding: 5%;
  }
  .forgotPwd {
    color: blue;
    cursor: pointer;
  }
  